:root {
    --bg-color: white;
    --fg-color: rgb(255, 60, 0); 
    --hv-color: rgba(0, 0, 0, 0.2)
}

body {
    color: var(--fg-color);
    background-color: var(--bg-color);
}

nav, button, a {
    color: var(--fg-color);
}

.log-entry:hover {
    background-color: var(--hv-color);
}

.about:hover {
    background-color: var(--hv-color);
    color: white;
}

#sidepanel {
    background-color: var(--bg-color);
}

#border {
    background-color: var(--fg-color);
    width: 1px;
    
}